html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
}

.town {
  position: relative;
  /* background: #546e7a; */
  /* background: #e7ca6e; */
}
.town > * {
  position: absolute;
}
.tile {
  /* background: #008000; */
  z-index: 1;
  transition: 0.2s ease-in all;
  image-rendering: pixelated;
}

.tile:hover {
  /* transform: scale(1.05); */
  /* outline: 2px solid salmon; */
  /* outline-offset: -60px; */
}

.path {
  background: transparent;
  /* background: #f7c834; */
  z-index: 2;
}
.path.path_h.selected:after {
  top: 8px;
  height: 4px;
  background: blue;
  left: 0;
  right: 0;
  position: absolute;
  content: ' ';
}
.path.path_v.selected:after {
  left: 8px;
  width: 4px;
  background: blue;
  top: 0;
  bottom: 0;
  position: absolute;
  content: ' ';
  z-index: 4;
}
.path.transparent {
  background: transparent !important;
  pointer-events: none;
}
.node {
  color: #ffa500;
  background: transparent;
  /* background: fuchsia; */
  /* background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 2px,
    #ccc 2px,
    #ccc 4px
  ); */
  z-index: 3;
  /* border-radius: 100%;
  outline: 4px solid white;
  outline-offset: -1px; */
}
.node:hover {
  background: #d2691e !important;
  cursor: pointer;
}
.node.disabled {
  background: transparent;
  border-radius: none;
  outline: none;
}
.node.selected {
  background: blue;
}
.node.last {
  background: #f00 !important;
}

.panner-container, .path-container  {
  position: absolute;
  top: 0;
  left: 0;
}

.location-pointer {
  position: absolute;
  width: 42px;
  height: 42px;
  background: url('../icons/location.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transform: translateX(-50%) translateY(-100%);
  z-index: 45;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listener {
  position: absolute;
  width: 25px;
  height: 25px;
  /* border-radius: 30px; */
  /* background: red; */
  transform: translateX(-50%) translateY(-50%);
  outline: 2px solid red;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listener:after {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: red;
  content: ' ';
}

.panner {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: purple;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.panner:after {
  content: attr(data-panner);
  font-size: 1rem;
  color: yellow;
  display: block;
  text-align: center;
  flex: 1;
  font-family: sans-serif;
}

.tile-borders {
  position: absolute;
  border: 3px solid black;
  background: transparent;
}

.moved {
  background: aqua !important;
}

.moved:after {
  color: blue !important;
}

.hidden {
  display: none !important;
}